#about {
  padding: 50px;
}

.label-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
  row-gap: 60px;
  margin-bottom: 70px;
}

.label-wrap > div {
  text-align: center;
  text-justify: auto;
}

.label {
  text-align: center;
  font-size: 100px;
  color: #04c2c9;
}

.label-header {
  color: #444649;
  font-weight: bold;
  font-size: 32px;
  padding-top: 20px;
}

.label-description {
  padding-top: 20px;
  color: #616161;
  font-size: 20px;
  text-align: justify;
  text-align-last: center;
}

.me {
  height: 450px;
  width: 400px;
}

.label-description .highlight {
  color: #04c2c9;
}

.skill-wrap {
  justify-content: space-between;
  margin-top: 70px;
}

.bar {
  width: 100%;
  height: 28px;
  background-color: #eee;
  font-size: 16px;
  font-weight: bold;
  display: grid;
  grid-template-columns: 3fr 10fr;
  margin-bottom: 25px;
  position: relative;
}

.bar div:first-child,
.bar span {
  text-align: center;
  vertical-align: middle;
  line-height: 28px;
}

.bar div:first-child {
  background-color: #04c2c9;
  color: #ffffff;
  font-weight: bold;
}

.bar div:last-child {
  height: 100%;
  background-color: #00a1a7;
}

.bar span {
  position: absolute;
  right: 1.5%;
}

@media screen and (min-width: 1000px) {
  .label-wrap {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .me-and-skill {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }

  .skill-wrap {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .label-wrap {
    margin-left: 120px;
    margin-right: 120px;
  }

  .me-and-skill {
    margin-left: 120px;
    margin-right: 120px;
  }

  .me {
    height: 400px;
    width: 400px;
  }
}
