#about {
  padding: 0 10px 20px 10px;
}

.label {
  text-align: center;
}

.label > i {
  font-size: 100px;
  color: #04c2c9;
}

.label-header {
  text-align: center;
  width: 100%;
  color: #444649;
  font-weight: bold;
  font-size: 24px;
  padding-top: 20px;
}

.label-description {
  text-align: center;
  padding-top: 20px;
  color: #616161;
  font-size: 16px;
}

.me {
  height: 250px;
  width: 200px;
}

.me-and-skill {
  margin-top: 50px;
}

.skill-wrap {
  justify-content: space-between;
  margin-top: 50px;
}

.bar {
  width: 100%;
  height: 28px;
  background-color: #eee;
  font-size: 16px;
  font-weight: bold;
  display: grid;
  grid-template-columns: 5fr 10fr;
  margin-bottom: 25px;
  position: relative;
}

.bar div:first-child,
.bar span {
  text-align: center;
  vertical-align: middle;
  line-height: 28px;
}

.bar div:first-child {
  background-color: #04c2c9;
  color: #ffffff;
  font-weight: bold;
}

.bar div:last-child {
  height: 100%;
  background-color: #00a1a7;
}

.bar span {
  position: absolute;
  right: 1.5%;
}

@media screen and (min-width: 325px) {
  .label-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }

  .bar {
    grid-template-columns: 4fr 10fr;
  }
}

@media screen and (min-width: 600px) {
  .label {
    font-size: 120px;
  }

  .label-header {
    font-size: 28px;
  }

  .label-description {
    font-size: 24px;
  }

  .me {
    height: 350px;
    width: 300px;
  }

  .bar {
    grid-template-columns: 3fr 10fr;
  }
}

@media screen and (min-width: 1000px) {
  .label-wrap {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .me-and-skill {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }

  .skill-wrap {
    margin-top: 0;
  }

  .me {
    height: 400px;
    width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  #about {
    padding: 0 120px 20px 120px;
  }
}
