footer {
  background: #252934;
  min-height: 20vh;
}

.up-button {
  padding: 12px 6px;
  border: none;
  background: #e31b6d;
  color: #ffffff;
  outline: none;
  margin-top: -25px;
}

.up-button i {
  font-size: 28px;
  transform: rotate(-90deg);
}
