nav {
  position: fixed;
  width: 100%;
  border-bottom: 3px solid #04c2c9;
  color: #ffffff;
  height: 50px;
  z-index: 1;
}

nav .menu {
  float: right;
  font-size: 32px;
  line-height: 50px;
  vertical-align: middle;
  margin-right: 10px;
}

nav .link-wrap {
  background: #333;
  overflow: hidden;
  position: absolute;
  top: 53px;
  transition: height 0.3s ease-out;
  width: 100%;
  height: 0px;
}

.page-link {
  cursor: pointer;
}

nav .link-wrap .page-link {
  font-size: 20px;
  padding-top: 22px;
  padding-left: 24px;
  transition: color 0.5s;
}

nav .link-wrap .active {
  color: #e31b6d;
}

nav .visible {
  height: 200px;
}

@media screen and (min-width: 600px) {
  nav .menu {
    display: none;
  }

  nav .link-wrap {
    background: none;
    overflow: visible;
    position: initial;
    width: initial;
    height: initial;
    text-align: left;
    margin-top: 14px;
  }

  nav .link-wrap .page-link {
    display: inline;
  }
}

main {
  padding-top: 53px;
}
