#portfolio {
  background: #f5f5f5;
}

.project-filter-1-wrap > p {
  display: inline;
  font-size: 24px;
  font-weight: bold;
  color: #444649;
  margin-right: 10px;
}

#project-filter-1 {
  font-size: 18px;
  padding: 10px;
}

#project-filter-1:focus {
  border-color: #e31b6d;
  outline: none;
}

.project-filter-2 {
  display: none;
  font-size: 20px;
}

.project-filter-2 > div {
  padding: 10px 20px;
  transition: 0.5s ease;
}

.project-filter-2 > div:hover:not(.project-filter-2-active) {
  background: #e6dada;
}

.project-filter-2-active {
  background: #e31b6d;
  color: #ffffff;
}

.projects {
  width: 90vw;
}

.project {
  float: left;
  background-color: #e6dada;
  text-align: center;
  height: 300px;
  width: 100%;
  margin-top: 20px;
  transition: 0.5s ease;
  position: relative;
  background-size: cover;
}

.project div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
}

.project div,
.project h3,
.project p,
.project button {
  transition: 0.5s ease;
  opacity: 0;
}

.project h3 {
  font-size: 24px;
  font-weight: bold;
}

.project p {
  overflow-wrap: break-word;
  color: #e31b6d;
  margin-top: 5px;
  font-size: 16px;
}

.project button {
  padding: 10px 20px;
  border: 3px solid #e31b6d;
  outline: none;
  cursor: pointer;
  background: none;
  font-size: 16px;
  margin-top: 200px;
  transition: 0.5s ease;
}

.project button:hover {
  background: #e31b6d;
  color: #ffffff;
}

.project:hover.project h3,
.project:active.project h3 {
  opacity: 1;
  margin-top: 90px;
}

.project:hover.project p,
.project:active.project p {
  opacity: 1;
}

.project:hover.project button,
.project:active.project button {
  opacity: 1;
  margin-top: 30px;
}

.project:hover.project > div,
.project:active.project > div {
  opacity: 1;
  background: #ffffff;
}

@media screen and (min-width: 750px) {
  .project-filter-1-wrap {
    display: none;
  }

  .project-filter-2 {
    display: flex;
  }

  .project {
    width: 30%;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    width: 60vw;
  }
}
