.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.header {
  color: #444649;
  font-weight: bold;
  font-size: 32px;
}

.header-bar {
  background: #444649;
  height: 4px;
  margin: 25px 0 75px;
  width: 80px;
}

.hide-to-left {
  margin-left: -150vw;
}

.hide-to-right {
  margin-left: 150vw;
}

.fadein {
  opacity: 0;
}

.black-background {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.green-highlight {
  color: #04c2c9;
}

.magenta-highlight {
  color: #e31b6d;
}
